/* ===== TYPOGRAPHY ===== */

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0.5em;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.85;
}

